#home{
	color: black;
	text-decoration: none;
	width: 50%;

	padding-top: 5px;
	margin-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	font-family: IvyMode, serif;
	font-weight: 700;
	font-size: 40pt;
}
.source{
	color: black;
	font-size: 15pt;
	margin-bottom:20px;
}

a.page{
	display: block;
	text-decoration: none;
	color: white;
}
a.page:hover{
	color: #f0d316;
}
body{
	margin: 0;
	padding: 0;
	font-family: canada-type-gibson, sans-serif;
	font-size: 14pt;
}
h1{
	font-family: IvyMode, serif;
	font-size: 140pt;
	font-weight: 700;
	text-align: center;
	color: white;

}
h2{
	padding-top: 5px;
	margin-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	font-family: IvyMode, serif;
	font-weight: 600;
	font-size: 24pt;
}
p{
	/*width: 60%;*/
	font-size: 15pt;
	line-height: 20pt;
}
h3{
	font-family: IvyMode, serif;
	font-weight: 600;
	display: inline-block;
}
h4{
	padding: 0;
	margin: 0;
	font-size: 20pt;
	line-height: 30pt;
	font-family: IvyMode, serif;
	font-weight: 600;
	color: black;
	text-decoration: none;
}

#main{
	margin: 0;
	background-image: url(../images/billydark.jpg);
	background-size: cover;
	background-position: center;
	padding-top: 1%;
}
div.big{
	width: 20%;
	margin-left: 4%;
	margin-right: 4%;
	display: inline-block;
	color: white;
	font-family: IvyMode, serif;
	font-size: 16pt;
	text-align: center;
	padding-bottom: 20pt;
	vertical-align: middle;
}
#left{
	margin-left: 10%;
}
#left:hover a{
	color: #bf0202;
}
#right{
	margin-right: 10%;
}
#right:hover a{
	background-image: linear-gradient(to left, violet, indigo, blue, green, orange, red);   -webkit-background-clip: text;
  			color: transparent;
}
#center:hover a{
	color: #f0d316;
}
#navigation{
	border-bottom: 1px solid grey;
	padding-left: 10%;
	padding-top: 2%;
	padding-bottom: 15px;
	margin:0;
}
#text{
	margin-left: 10%;
	padding-bottom: 3%;
	padding-top: 1%;
}
#footer{
	padding-bottom: 15%;
	padding-left: 10%;
	background-color: #F4F4F4;
	border-top: 1px solid grey;
}
#footer p{
	margin: 0;
	margin-top: 7px;
}
li{
	list-style-type: none;
	padding: none;
	margin: none;
}
#historyimages{
	/*margin-left: 10%;*/
	padding-top: 5%;
	display: inline-block;
	width: 30%;
	vertical-align: top;
}
.mainpage{
	display: inline-block;
	/*margin-right: 5px;*/
	width:100%;
	padding: 0;
	margin-top: 0;
}
.caption{
	display: block;
	font-size: 1rem;
    position: relative;
    bottom: 40px;
    width: 100%;
 	padding: 12px;
 	box-sizing: border-box;
    background: rgba(0, 0, 0, 0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 10;
    color: white;

}
#body{
	display: inline-block;
	width: 55%;
	margin-right: 5%;
}

.page1{
	color: #bf0202;
}
.page2{
	color: #f0d316;
}
.page3{
	background-image: linear-gradient(to left, violet, indigo, blue, green, orange, red);   -webkit-background-clip: text;
  color: transparent;
}