#home{
	color: black;
	text-decoration: none;
	width: 50%;

	padding-top: 5px;
	margin-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	font-family: IvyMode, serif;
	font-weight: 700;
	font-size: 40pt;
}
#home:hover{
	color: #f0d316;
}
.source{
	color: black;
	font-size: 15pt;
	margin-bottom:20px;
}
.source:hover{
	text-decoration-color:#f0d316;
}
a.page{
	display: block;
	text-decoration: none;
	color: white;
}
a.page:hover{
	color: #f0d316;
}
body{
	margin: 0;
	padding: 0;
	font-family: canada-type-gibson, sans-serif;
	font-size: 14pt;
}
h1{
	font-family: IvyMode, serif;
	font-size: 140pt;
	font-weight: 700;
	text-align: center;
	color: white;

}
h2{
	padding-top: 5px;
	margin-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	font-family: IvyMode, serif;
	font-weight: 600;
	font-size: 24pt;
}
p{
	width: 60%;
	font-size: 15pt;
	line-height: 20pt;
}
h3{
	font-family: IvyMode, serif;
	font-weight: 600;
	display: inline-block;
}
h4{
	padding: 0;
	margin: 0;
	font-size: 20pt;
	line-height: 30pt;
	font-family: IvyMode, serif;
	font-weight: 600;
	color: black;
	text-decoration: none;
}

#main{
	margin: 0;
	background-image: url(../images/billydark.jpg);
	background-size: cover;
	padding-top: 1%;
}
div.big{
	width: 20%;
	margin-left: 4%;
	margin-right: 4%;
	display: inline-block;
	color: white;
	font-family: IvyMode, serif;
	font-size: 16pt;
	text-align: center;
	padding-bottom: 20pt;
	vertical-align: middle;
}
#left{
	margin-left: 10%;
}
#right{
	margin-right: 10%;
}
#navigation{
	border-bottom: 1px solid grey;
	padding-left: 10%;
	padding-top: 2%;
	padding-bottom: 15px;
	margin:0;
}
#text{
	margin-left: 10%;
	padding-bottom: 3%;
	padding-top: 1%;
}
#footer{
	padding-bottom: 15%;
	padding-left: 10%;
	background-color: #F4F4F4;
	border-top: 1px solid grey;
}
#footer p{
	margin: 0;
	margin-top: 7px;
}
li{
	list-style-type: none;
	padding: none;
	margin: none;
}
#historyimages{
	margin-left: 10%;
	padding-bottom: 5%;
}
.mainpage{
	display: inline-block;
	margin-right: 5px;
	width:70%;
	padding: 0;
	margin-top: 0;
}
span{
	display: block;
    position: relative;
    bottom: 45px;
    width: 70%;
 	padding: 12px;
 	box-sizing: border-box;
    background: rgba(0, 0, 0, 0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 10;
    color: white;
    /*margin-right: 0;*/
    /*padding-right: 0;*/
}