body {
	font-family: "Lato", sans-serif;
	color: black;
	margin-left: 100px;
	line-height: 1.4;
	background-color: #f5fcfa;
}
.column {
  float: left;
  width: 30%;
}
h1 {
	font-size: 5em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .05em;
	margin-block-end:.2em;
	margin-top:.1em;
	margin-left: -.1em;
	display: inline-block;
}
h3{
	display: inline-block;
	font-size: 2em;
	font-style: italic;
	margin-left: .5em;
	color: #599182;
}
h4 {
	font-family: "Inconsolata", monospace;
	font-style: italic;
	font-weight: normal;
	color: #599182;
	margin-block-start:0;
	margin-block-end: -1em;
}
img {
	width: 400px;
	margin-top: 1em;
	display: inline;
}
