body{
	width: 350px;
	margin-top: 0;
	margin-bottom: 0;
	margin: auto;
	line-height: 22px;
	font-family: Anonymous Pro, monospace;
	/*border: 1px solid black;*/
}

#picture{
	background-image: url(../resources/5strand2.jpg);
	padding-top: 500px;
	background-size: cover;
}

h1{
	font-size: 64px;
	line-height: 110px;
	margin-top: -5px;
	margin-bottom: -6px;
	font-family: Montserrat, sans-serif;
	font-weight: bold;
}

h2{
	color: #cf1b11;
	font-family: Montserrat, sans-serif;
	margin-bottom: 10px;
	text-transform: uppercase;
}
h3{
	color: #cf1b11;
	margin:0;
	margin-bottom: 6px;
}

section{
	padding-left:20px;
	padding-right: 20px;
	padding-bottom: 0;
}
#maininfo{
	margin-bottom: 30px;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #cf1b11;
}
#maininfo div{
	width: 92px;
	text-align: center;
	display: inline-block;
	font-weight: bold;
}

#names{
	font-size: 14px;
	color: #cf1b11;
	line-height: 20px;
	margin-bottom: 12px;
}
#instructions{
	padding-top: 15px;
}
#ingridients{
	padding-top: 15px;
}
.button{
	float: left;
	display: inline-block;
	height: 26px;
	width: 29px;
	margin: 12px;
	margin-left: 0px;
	margin-top: 0px;
	border-radius: 32px;
	padding-left: 1px;
	padding-top: 4px;
	text-align: center;
	background-color: #cf1b11;
	color: #fff;
}

.step{
	display: inline-block;
	max-width: 268px;
	margin-top: 4px;
	margin-bottom: 14px;
}
.inline{
	display: inline-block;
	height: 25px;
	width: 62px;
	margin: 0;
	padding: 2px 0px 0px 10px;
	border-radius: 32px;
	background-color: #cf1b11;
	color: #fff;
}
#footer{
	margin-top: 110px;
	margin-bottom: 10px;
	font-size: 12px;
	color: #cf1b11;
	line-height: 1.5em;
}
img{
	width: 310px;
	height: 200px;
	margin-bottom: 10px;
}
.small{
	width: 150px;
	height: 150px;
	display: inline-block;
	margin-top: 10px;
}
iframe{
	margin-bottom: 10px;
}
.space{
	margin-top: 10px;
}
a{
	color: #cf1b11;
}