body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: black;
	margin-top: 50px;
	margin-left: 200px;
}
.column {
  float: left;
  width: 30%;
}
h1 {
	margin-left: 35px;
}
img {
	width: 350px;
	margin-left: 40px;
	display: inline;
}
